* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	background-image: url('../resources/background.jpg');
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	font-family: var(--ff);
	font-weight: var(--fw-n);
	font-size: var(--fs-p);
	color: var(--text-clr);
}

.glass {
	background-color: #f0f0f044;
	backdrop-filter: blur(20px);
	border: 1px solid #f0f0f044;
	box-shadow: var(--shadow);
}

.logo {
	align-self: center;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 18%;
	background-color: rgba(0, 0, 0, 0.434);
	border-left: none;
	border-right: none;
	font-family: 'Michroma';
}

.logo > svg {
	height: var(--svg-height);
	width: var(--svg-width);
}

.logo > svg > path {
	transform: scale(var(--path-scale));
	fill: var(--text-clr);
	animation: dropIn 8s ease forwards infinite;
}

.logo > h1 {
	margin: var(--spacer-sm);
	font-size: var(--fs-logo);
}

.form-container {
	background: var(--main-clr);
	box-shadow: var(--shadow);
	border-left: 1px solid var(--sec-clr);
	width: 55vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5%;
	gap: var(--spacer-md);
}

.form-container p {
	font-size: var(--fs-h);
	width: 90%;
	font-weight: var(--fw-b);
}

form {
	box-shadow: var(--shadow);
	width: 100%;
	padding: var(--spacer-sm) var(--spacer-bg);
	margin-top: var(--spacer-sm);
	display: flex;
	flex-direction: column;
	gap: var(--spacer-sm);
}

section,
fieldset {
	display: flex;
	gap: var(--spacer-bg);
	width: 70%;
}

fieldset {
	border: none;
	padding: 0;
}

section > .field,
fieldset > .field {
	flex: 1;
	border-color: var(--sec-color);
}

.field > div {
	display: flex;
}

input {
	border-radius: var(--br);
	font-weight: var(--fw-b);
	overflow: visible;
	width: calc(100% - 2ch);
}

label {
	font-family: 'Ubuntu Mono Bold';
	align-self: flex-start;
	display: block;
}

.symbols {
	width: 0;
	height: 0;
	position: relative;
	bottom: 4px;
	font-weight: var(--fw-b);
}

.symbols::after {
	content: '*';
	opacity: 0;
}

input:required + .symbols::after {
	opacity: 1;
}

button[type='submit'] {
	align-self: flex-start;
	margin-left: var(--spacer-bg);
	border-radius: var(--br);
	padding: var(--fs-p) calc(var(--fs-p) * 2);
	font-weight: var(--fw-b);
	color: var(--main-clr);
	border: none;
	box-shadow: var(--shadow);
	background-color: var(--acc-clr);
}

button[type='submit'] + span {
	align-self: start;
	margin-left: var(--spacer-bg);
}

a {
	text-decoration: none;
	color: var(--acc-clr);
}

.invalid {
	color: var(--error-clr);
}

.error-message {
	margin-top: 3px;
	font-size: calc(var(--fs-p) * 0.8);
	font-weight: var(--fw-b);
	width: calc(100% - 2ch);
	visibility: hidden;
}

.symbols::before {
	position: absolute;
	right: 15px;
	top: 6px;
}

.invalid > :not(:focus) + .symbols::before {
	content: '✖';
}

:not(.invalid) > :not(:placeholder-shown):not(:focus) + .symbols::before {
	content: '✔';
}

.invalid > input {
	box-shadow: var(--error-shadow);
}

.invalid > .error-message {
	visibility: visible;
}

.invalid > :required:placeholder-shown ~ .error-message::after {
	content: 'Please fill out this field';
}

.invalid > #first-name:invalid:not(:placeholder-shown) ~ .error-message::after {
	content: "First name can only include letters and whitespace and can't be more than 35 characters long";
}

.invalid > #last-name:invalid:not(:placeholder-shown) ~ .error-message::after {
	content: "Last name can only include letters and whitespace and can't be more than 35 characters long";
}

.invalid > #email:invalid:not(:placeholder-shown) ~ .error-message::after {
	content: 'Please enter a valid email address';
}

.invalid
	> #phone-number:invalid:not(:placeholder-shown)
	~ .error-message::after {
	content: 'Please enter a valid phone number';
}

.invalid > #password:invalid:not(:placeholder-shown) ~ .error-message::after,
.invalid
	> #confirm-password:invalid:not(:placeholder-shown)
	~ .error-message::after {
	content: 'Your password must be at least 8 characters long, and it must contain at least one uppercase and lowercase letter and a number';
}

.not-matching
	> #confirm-password:invalid:not(:placeholder-shown)
	~ .error-message::after {
	content: 'Passwords do not match';
}

#credit {
	position: absolute;
	bottom: 2px;
	left: 2px;
}

@keyframes dropIn {
	20% {
		opacity: 0;
		transform: scale(var(--path-scale)) translateY(-20%);
	}
	30%,
	95% {
		opacity: 1;
		transform: scale(var(--path-scale)) translateY(0%);
	}
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
		height: max-content;
	}

	.logo {
		margin: var(--spacer-sm) 0;
		align-self: stretch;
	}

	.form-container {
		width: 100vw;
		padding-bottom: 10vh;
	}

	#credit {
		top: 0;
	}
}

@media (max-width: 500px) {
	section,
	fieldset {
		flex-direction: column;
		gap: var(--spacer-sm);
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form > p {
		text-align: center;
	}

	button[type='submit'] {
		align-self: center;
		margin-left: 0;
	}
}
