@font-face {
	font-family: 'Ubuntu Mono Bold';
	src: url(../resources/Ubuntu_Mono/UbuntuMono-Bold.ttf);
}

@font-face {
	font-family: 'Michroma';
	src: url(../resources/Michroma/Michroma-Regular.ttf);
}

:root {
	--ff: 'system-ui', sans-serif;

	--fw-n: 300;
	--fw-b: 500;

	--fs-p: 1rem;
	--fs-h: 1.8rem;
	--fs-logo: 3.5rem;

	--svg-height: 70px;
	--svg-width: calc(var(--svg-height) * 0.8);
	--path-scale: 150%;

	--main-clr: #0a0011;
	--sec-clr: #333333;
	--acc-clr: #f75f00;
	--error-clr: #ff0033;

	--text-clr: #6d6d6d;

	--spacer-sm: 1rem;
	--spacer-md: calc(var(--spacer-sm) * 2);
	--spacer-bg: calc(var(--spacer-sm) * 3);

	--shadow: 0 0 1em #55555565;
	--error-shadow: 0 0 0.4em var(--error-clr);
	--br: 5px;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-clr: #e4e3e3;
		--sec-clr: #707070;
		--acc-clr: #dd5500;
		--text-clr: #000000;
		--shadow: 0 0 1em #00000040;
	}
}

@media (min-width: 2000px) {
	:root {
		--fs-logo: 6rem;
		--fs-h: 4rem;
		--fs-p: 2.5rem;
		--path-scale: 250%;
		--svg-height: 120px;
	}
}

@media (max-width: 1440px) {
	:root {
		--fs-logo: 3rem;
	}
}

@media (max-width: 1050px) {
	:root {
		--fs-h: 1.65rem;
		--fs-logo: 2rem;
	}
}

@media (max-width: 500px) {
	:root {
		--path-scale: 100%;
		--svg-height: 46px;
		--fs-logo: 1.8rem;
	}
}

@media (max-width: 400px) {
	:root {
		--fs-logo: 1.5rem;
	}
}

@media (max-width: 350px) {
	:root {
		--fs-logo: 1.2rem;
	}
}
